.issue-main-column {
    width: 50%;
}


#issuedetails li:nth-child(4),
#issuedetails li:nth-child(5),
#issuedetails li:nth-child(6) {
    display: none !important;
}

/* Hide workflow */
#issuedetails .status-view {
    display: none;
}

/* Tweaking the issue details module */
#issuedetails.property-list .wrap {
    padding: 0 10px 0 0;
}

#issuedetails.property-list .wrap .name {
    margin-left: 0;
    width: 87px;
}

#peoplemodule_heading {
    display: none;
}

#peoplemodule {
    margin-top: 0;
    padding-top: 0;
}

#peoplemodule .people-details dt, #peoplemodule .item-details dt {
    width: 85px;
}

#customfieldmodule,
#datesmodule,
#timetrackingmodule,
#collaboratorsmodule,
#viewissue-devstatus-panel,
#greenhopper-agile-issue-web-panel,
#tempo-worklogs-module {
    display: none !important;
}

/* Cleanup up activity module */
#transitions-summary-tabpanel, #worklog-tabpanel {
    display: none;
}

/* Modify subtasks */

#view-subtasks #issuetable .issuetype {
    display: none;
}

#view-subtasks #issuetable .stsequence div {
    background-image: none !important;
    padding: 0 !important;
}
